.registrationPage {
  background-color: #e7eff6;
}

.popup {
  background-color: #ffffff;
  width: 30%;
  height: 30%;
  position: fixed;
  margin: 20%;
  border: solid 2px;
}

.registrationForm {
  background: #e7eff6;
  margin-top: 20px;
  margin-left: 50px;
}

.orgNameSection {
  padding-right: 15px;
  .orgNameInputField {
    display: inline;
    background: #ffffff;
    width: 300px;
    height: 30px;
  }

}

.orgTypeSection {
  padding-right: 15px;
  .orgTypeLabel {
    float: left;
  }
  .orgTypeInputField {
    float: left;
    display: inline;
    width: 300px;
    height: 30px;
    .orgTypeDropdown {
      background: white;
    }
  }
}

.orgLogoSection {
  vertical-align: bottom;

  .orgLogoInputField {
    display: none;
    background: transparent;
    width: 200px;
  }
  .orgLogoInputLabel {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 200px;
    background-color: #169BD5;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
  }
  .orgLogoPreview {

  }
}


.required {
  display: inline;
  color: red;
}
