/*- Typograpy and resets -*/
.card{
  html {
    font-size: 16px;
  }

  body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: #fff;
  }

  h1,
  h2 {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
  }

  h2 {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
  }

  /*- Card container -*/
  .card-container {
    position: relative;
    z-index: 1;
    margin: 32px auto;
    max-width: 720px;
    height: 420px;
    perspective: 1000px;
    border: 1px solid black;
    display:inline-block;

  }

  img {
    max-width: 100%;
    max-height: 100%;
  }


}
