/*- Flex Box Styling -*/

img_style {
  width: 60px;
  height: 60px
}

flex_container {
  display: flex;
  background_color: white;
  border-style: solid;
  border-width: 0.25px;
}

org_title {
  width: 100px;
  height: 100px;
  font: 32px arial;
  font-weight: bold;
  margin-left: auto;
}

/*- Card container -*/
.sort_params {
  width: 100px;
  height: 100px;
  font: 14px arial;
}

img {
  width: 60px;
  height: 60px;
}
