/*- Typograpy and resets -*/
.page{
  html {
    font-size: 16px;
  }

  .hcontainer {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 100%;
    background-color: #fff;
    display: inline-block;
  }

.org-card {

}

  .card-container{

  }
}
