/*- Typograpy and resets -*/
.page{
  html {
    font-size: 16px;
  }

  .hcontainer {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 100%;
    background-color: #fff;
    display: inline-block;
  }

.org-card {

}

  .card-container{

  }
}

.search-container{
  display: flex;
  padding: 4px;
  padding-right: 6px;

}

.connect-button{
  max-width: 20%;
  background-color: #0ceaf2;
}

.search-filter-group{
  input {
    padding-right: 10px;
  }
}
