/*- Typograpy and resets -*/
.page{
  html {
    font-size: 16px;
  }

  .hcontainer {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 100%;
    background-color: #fff;
    display: inline-block;
  }

.org-card {

}

  .card-container{

  }
}

.search-container{
  display: flex;
  padding: 4px;
  padding-right: 6px;

}

.connect-button{
  width: 10%;
  background-color: #0ceaf2;
  display: flex;
  height: 45px;
  font-size: 18px;
  justify-content: center;
  border-style: solid;
  border-width: thin;
}

.search-filter-group{
  input {
    padding-right: 10px;
  }
}

.org-card-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
